<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Zoznam autorov</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Zoznam autorov</h1>
    <table class="authors-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Meno</th>
                <th>BIO</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{ author.author_id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.bio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>